@font-face { font-family:'Quicksand-Regular'; src: url('@/assets/fonts/Quicksand-Regular.ttf'); }
@font-face { font-family:'Quicksand-Light'; src: url('@/assets/fonts/Quicksand-Light.ttf'); }
@font-face { font-family:'Quicksand-Medium'; src: url('@/assets/fonts/Quicksand-Medium.ttf'); }
@font-face { font-family:'Quicksand-SemiBold'; src: url('@/assets/fonts/Quicksand-SemiBold.ttf'); }

:root {
    /* colors  */
    --primary-color: #50c19f;
    --secondary-color: #f5b4b0;
    --background-color: #edf3ff;
    --text-color: #5f5380;
    /* --highlight-color: #ff3da8; */
    --success-color: #2ce27e;
    --info-color: #667dff;
    --warning-color: #FAC975;
    --danger-color: #FA7575;
    --light-color: #FAF9F5;
    --gray-color: #cfd8e9;
    --white-color: #ffffff;
    --dark-color: #1c1c1c;
    --light-dark-color: #404243;
    --shadow-color: #66666636;

    --shadow: 0px 2px 10px 0px var(--shadow-color);

    /* Fonts  */
    --ff-primary: 'Quicksand-Regular';
    --ff-primary-light: 'Quicksand-Light';
    --ff-primary-Medium: 'Quicksand-Medium';
    --ff-primary-semiBold: 'Quicksand-SemiBold';

    /* font sizes */
    --title-super: 48px;
    --title-big: 36px;
    --title-medium: 32px;
    --title-small: 28px;
  
    --subtitle-big: 24px;
    --subtitle-medium: 20px;
    --subtitle-small: 18px;
  
    --text-big: 18px;
    --text-medium: 16px;
    --text-small: 14px;

    --header-height: 90px;
    --section: 80px;
    --side: 100px;

    --transition: all 0.3s;
    --border-radius: 5px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    min-height: 100vh;
    font-family: var(--ff-primary);
}

body:has(.loader),
body:has(.modal.open) {
    overflow: hidden;
}

/* Typography */
h1, h2, h3 {
    font-family: var(--ff-primary-semiBold);
    margin: 0;
    font-weight: normal;
}

h4, h5, h6 {
    font-family: var(--ff-primary-Medium);
    margin: 0;
    font-weight: normal;
}

h1 {
    font-size: var(--title-big);
}

h2 {
    font-size: var(--title-medium);
}

h3 {
    font-size: var(--title-small);
}

h4 {
    font-size: var(--subtitle-big);
}

h5 {
    font-size: var(--subtitle-medium);
}

h6 {
    font-size: var(--subtitle-small);
}

label {
    font-family: var(--ff-primary);
}

a, p {
    font-family: var(--ff-primary);
}

p {
    font-size: var(--text-medium);
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-family: var(--ff-primary-semiBold);
    font-weight: normal;
}

span {
    font-size: var(--text-small);
    font-family: var(--ff-primary);
}

ul { 
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gray-color);
  border-radius: var(--border-radius);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: var(--border-radius);
  transition: var(--transition);
  border: 2px solid var(--gray-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

#app {
    background-color: var(--background-color);
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 800px) {
    :root {
        --title-big: 30px;
    }
}

@media only screen and (max-width: 540px) {
    :root {
        /* font sizes */
        --title-big: 24px;
        --title-medium: 22px;
        --title-small: 20px;

        --subtitle-big: 20px;
        --subtitle-medium: 18px;
        --subtitle-small: 16px;

        --text-big: 16px;
        --text-medium: 14px;
        --text-small: 12px;
    }
}